.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fafafa;
}

.login-card {
  width: 100%;
  max-width: 360px;
  padding: 1rem;
}

.full-width {
  width: 100%;
  margin-bottom: 0.5rem;
}
